footer {
    margin-top: 80px;
    background: #111;
    color: #fff;
    padding-top: 80px;
    overflow-y: hidden;
}

footer.cinema {
    border-top: 5px #341f97 solid;
}

footer.dvd {
    border-top: 5px #2e86de solid;
}

footer.netflix {
    border-top: 5px #ee5253 solid;
}

footer.popcorntime {
    border-top: 5px #ba324f solid;
}

footer h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8rem;
    margin-bottom: -35px;
}

footer .menu {
    font-size: 2rem;
    text-align: right;
}

footer .menu a {
    display: inline-block;
    margin: 0;
    padding-left: 40px;
    color: #f2f2f2;
}

footer .menu a:hover {
    text-decoration: none;
}

footer .menu a.cinema:hover {
    color: #341f97;
    letter-spacing: 1px;
}

footer .menu a.dvd:hover {
    color: #2e86de;
    letter-spacing: 1px;
}

footer .menu a.netflix:hover {
    color: #ee5253;
    letter-spacing: 1px;
}

footer .menu a.popcorntime:hover {
    color: #ba324f;
    letter-spacing: 1px;
}