.posters-list {
    margin: 0 60px 80px;
}

.poster-item {
    padding: 0 50px 80px;
    text-align: center;

    animation: slideDown 0.5s ease-out 0s 1;
}

@keyframes slideDown {
    0% {
        transform: translate(0, -20px);
        opacity: 0.75;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.poster {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 12px 8px -8px rgba(0,0,0,.3);
    box-shadow: 0 12px 8px -8px rgba(0,0,0,.3);
    position: relative;
    margin-top: -70px;
    min-height: 300px;
}


.poster .poster-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
}

.poster.cinema .poster-footer {
    background-color: #341f97;
}

.poster.hbo-go .poster-footer {
    background-color: #2e86de;
}

.poster.netflix .poster-footer {
    background-color: #ee5253;
}

.poster .movie-age {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 5px;
    opacity: 0;
}

.poster-footer .score-set {
    float: left;
    padding: 0 5px;
}

.score-set .score {
    color: #fff;
    padding-right: 10px;
    font-size: 0.9rem;
}

.poster-footer .score-set .score img {
    padding-right: 5px;
}

.poster-footer .screen-format img {
    float: right;
    padding: 0 5px;
}

.poster-item h2 {
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;

    visibility: hidden;
}

.poster-item .subtitle {
    text-align: center;
    font-size: small;
    text-transform: capitalize;

    visibility: hidden;
}

.poster-item .button-group {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
}

.poster-item .button {
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    display: inline-block;

    visibility: hidden;
    opacity: 0;
}

.poster.cinema .button {
    background-color: #341f97;
}

.poster.hbo-go .button {
    background-color: #2e86de;
}

.poster.netflix .button {
    background-color: #ee5253;
}

/*Hover animations*/
.poster.cinema .button:hover {
    background-color: #1e1258;
}

.poster.hbo-go .button:hover {
    background-color: #1a60a5;
}

.poster.netflix .button:hover {
    background-color: #de1617;
}

.poster-item .button.disabled:hover {
    cursor: not-allowed;
    background-color: #666;
}

.no-results {
    padding: 100px;
    margin-bottom: 80px;
}

.no-results .icon {
    display: block;
    padding: 10px;
    animation: scaleDown 0.5s ease-out 0s 1;
}

@keyframes scaleDown {
    0% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}

.poster-item .imageError {
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    transform: translate(0, -50%);
}

.poster-item .imageError h2{
    visibility: visible;
}

.poster-item .imageError .subtitle {
    visibility: visible;
}


/*Hovers*/

@media screen and (min-width: 767px) {
    .poster-item:hover .poster {
        transform: translate(0, 70px);
    }

    .poster-item:hover .img-poster {
        max-width: 130%;
        width: 130%;
        margin-left: -15%;
        margin-right: -15%;
    }

    .poster-item:hover .movie-age, .poster-item:hover .poster-footer {
        opacity: 1;
        width: 130%;
        right: -15%;
        left: -15%;
    }

    .poster-item:hover h2, .poster-item:hover .subtitle {
        visibility: visible;
        margin-top: 0;
    }

    .poster-item:hover .button {
        visibility: visible;
        opacity: 1;
    }

    .poster-item:hover .imageError h2, .poster-item:hover .imageError .subtitle {
        visibility: hidden;
        display: none;
    }
}

/*Responsive*/

@media screen and (max-width: 1199px) {
    .poster {
        min-height: initial;
    }

    .score-set .score {
        font-size: 0.7rem;
    }

    .posters-list {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    header {
        margin-top: -17px;
        margin-bottom: 120px;
    }

    header h1 {
        font-size: 4rem;
    }

    .datepicker {
        margin-bottom: 120px;
    }

    .datepicker .date {
        display: block;
        margin: 20px 0;
        font-size: 1.5rem;
    }

    .poster-item {
        padding: 20px 50px 150px;
    }

    .poster-item h2 {
        font-size: 1.5rem;
    }

    .poster-item .subtitle {
        font-size: 1rem;
    }

    .poster-item .button-group {
        bottom: 25%;
    }

    .poster-item .button {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .poster-item .button span {
        font-size: 1rem;
        padding: 0 10px;
    }

    .poster {
        margin-top: -100px;
    }

    .poster-footer .score-set, .poster-footer .screen-format {
        padding: 0 20px;
        margin: 10px 0;
    }

    .score-set .score {
        font-size: 1rem;
    }

    .poster-item.visible .poster {
        -webkit-transform: translate(0, 120px);
        -ms-transform: translate(0, 120px);
        transform: translate(0, 120px);
    }

    .poster-item.visible .img-poster {
        max-width: 130%;
        width: 130%;
        margin-left: -15%;
        margin-right: -15%;
    }

    .poster-item.visible .movie-age, .poster-item.visible .poster-footer {
        opacity: 1;
        width: 130%;
        right: -15%;
        left: -15%;
    }

    .poster-item.visible h2, .poster-item.visible .subtitle {
        visibility: visible;
        margin-top: 0;
    }

    .poster-item.visible .button {
        visibility: visible;
        opacity: 1;
    }

    .poster-item.visible .imageError h2, .poster-item.visible .imageError .subtitle {
        visibility: hidden;
        display: none;
    }
}