.posters-list {
    margin: 0 60px;
}

.poster-item {
    padding: 0 50px 80px;
    text-align: center;

    animation: slideDown 0.5s ease-out 0s 1;
}

@keyframes slideDown {
    0% {
        transform: translate(0, -20px);
        opacity: 0.75;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.poster {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 12px 8px -8px rgba(0,0,0,.3);
    box-shadow: 0 12px 8px -8px rgba(0,0,0,.3);
    position: relative;
    margin-top: -70px;
}

.poster .poster-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
}

.poster.cinema .poster-footer {
    background-color: #341f97;
}

.poster.dvd .poster-footer {
    background-color: #2e86de;
}

.poster.netflix .poster-footer {
    background-color: #ee5253;
}

.poster.popcorntime .poster-footer {
    background-color: #ba324f;
}

.poster .movie-age {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 5px;
    opacity: 0;
}

.poster-footer .score-set {
    float: left;
    padding: 0 5px;
}

.score-set .score {
    color: #fff;
    padding-right: 10px;
    font-size: 0.9rem;
}

.poster-footer .screen-format img {
    float: right;
    padding: 0 5px;
}

.poster-item h2 {
    text-align: center;
    font-size: 1.2rem;

    visibility: hidden;
}

.poster-item .subtitle {
    text-align: center;
    font-size: small;

    visibility: hidden;
}

.poster-item .button-group {
    position: absolute;
    bottom: 100px;
    right: 0;
}

.poster-item .button {
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    display: inline-block;

    visibility: hidden;
    opacity: 0;
}

.poster.cinema .button {
    background-color: #341f97;
}

.poster.dvd .button {
    background-color: #2e86de;
}

.poster.netflix .button {
    background-color: #ee5253;
}

.poster.popcorntime .button {
    background-color: #ba324f;
}

/*Hover animations*/
.poster.cinema .button:hover {
    background-color: #1e1258;
}

.poster.dvd .button:hover {
    background-color: #1a60a5;
}

.poster.netflix .button:hover {
    background-color: #de1617;
}

.poster.popcorntime .button:hover {
    background-color: #7e2235;
}

.poster-item .button.disabled:hover {
    cursor: not-allowed;
    background-color: #666;
}

.poster-item:hover .poster {
    transform: translate(0, 70px);
}

.poster-item:hover .img-poster {
    max-width: 130%;
    margin-left: -15%;
}

.poster-item:hover .movie-age, .poster-item:hover .poster-footer {
    opacity: 1;
    width: 130%;
    right: -15%;
}

.poster-item:hover h2, .poster-item:hover .subtitle {
    visibility: visible;
    margin-top: 0;
}

.poster-item:hover .button {
    visibility: visible;
    opacity: 1;
}

.no-results {
    padding: 100px;
}

.no-results .icon {
    display: block;
    padding: 10px;
    animation: scaleDown 0.5s ease-out 0s 1;
}

@keyframes scaleDown {
    0% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}